$blue: #66ccff;
$green: #33cccc;
$red: #ff5050;
$yellow: #ffff99;
$orange: #ffcc66;
$purple: #cc6699;

.yq-navbar {
	min-height: 34px;
	padding-top: 1px;
	padding-bottom: 1px;
	.container {
		.navbar-header {
			.navbar-brand {
				padding-top: 5px;
				padding-bottom: 5px;
				height: 30px;
				img {
					height: 20px;
				}
			}
			button {
				margin-top: 2px;
				margin-bottom: 2px;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		.navbar-collapse {
			.navbar-form {
				margin-top: 0px;
				margin-bottom: 0px;
			}
			.navbar-nav {
				li {
					a {
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}